body {
  background-color: black;
  padding: 0;
  margin: auto;
  font-family: "Butler";
  src: url(/fonts/Butler_Regular.otf);
}

ul {
  overflow: hidden;
  background-color: #282928;
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: auto;
  padding: 0;
}

ul a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1.0625em 1.3125em;
  text-decoration: none;
  font-size: 1.25em;
}

ul a:hover {
  background: #d8a016;
  color: #f7de9f;
}

.active {
  background-color: #9F6B08;
}

p,
h1,
h2 {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  color: white;
}

p {
  padding: 0.625em;
  font-size: 1em;
}

h1 {
  padding: 0.625em;
  font-size: 2.5em;
  margin-top: 5em;
}

h2 {
  padding: 0.625em;
  font-size: 1.875em;
}

main {
  margin-top: 1%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/bass.jpeg");
  height: 100%;
  margin-top: 2.8125em;
  z-index: -1;
}

img {
  width: 7.8125em;
  height: auto;
  border: solid 0.1875em;
  border-color: #f9ce5c;
}

.right {
  float: right;
  margin-right: 15%;
}

.left {
  float: left;
  margin-left: 15%;
}

.footer {
  color: white;
  background-color: black;
  text-align: center;
  font-size: 1.2em;
  left: 0;
  bottom: 0;
  width: 100%;
}